body{
    background-color:blanchedalmond;
}

#resTable {
    border: 1px solid;
}



th, td {
    border: 1px solid #0b0000;
}

th {
    padding-left: 10px;
    padding-right: 10px;
}

td {
    text-align: center;
}